// Variables de color
$verde-chiapaneco: #70BF44;
$verde-claro-chiapaneco: #A6CE39;
$morado-chiapaneco: #A3238E;
$azul-chiapaneco: #4AC8F5;

// Tipografía
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

.playwrite-ar-title {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $verde-chiapaneco;
}

.playwrite-ar-text {
  font-family: 'Playwrite AR', serif;
  color: $verde-claro-chiapaneco;
}

.playwrite-ar-subtitle {
  font-family: 'Playwrite AR', serif;
  font-weight: 400;
  color: $morado-chiapaneco;
}

.playwrite-ar-nav {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: $azul-chiapaneco;
}

// Estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  margin: 0;
  overflow: auto;
  font-family: Arial, sans-serif;
}

// Navbar
.bg-navbar {
  background-image: url('/Images/Fondo\ navbar.png'); // Asegúrate de colocar la imagen en la ruta correcta
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-text {
  color: $morado-chiapaneco;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;

  &:hover {
    color: $morado-chiapaneco !important;
  }
}

// Estilo para las imágenes en los enlaces de navegación
.nav-link img {
  margin-right: 5px;
}

// Navbar fija en la parte superior
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; // Asegúrate de que esté sobre otros elementos
}

.content-with-margin {
  margin-top: 18vh; // Esto establecerá el margen superior al 10% de la altura de la ventana
}

// Carousel
.carousel-item img {
  width: 100%;
  height: 500px; // Ajusta la altura según tus necesidades
  object-fit: contain; // Asegura que la imagen cubra el contenedor
}

// Background
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #FEFFFA;
}

.ice-cream-ball {
  position: absolute;
  bottom: 100%;
  border-radius: 50%;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

// Crear múltiples bolas de helado con diferentes retrasos y posiciones
.ice-cream-ball:nth-child(1) {
  left: 10%;
  background-color: #EFDBA9;
  width: 70px;
  height: 70px;
  animation-delay: 4s;
}
.ice-cream-ball:nth-child(2) {
  left: 30%;
  background-color: #91AE40;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
}
.ice-cream-ball:nth-child(3) {
  left: 50%;
  background-color: #ff69b4;
  width: 90px;
  height: 90px;
  animation-delay: 6s;
}
.ice-cream-ball:nth-child(4) {
  left: 70%;
  background-color: #C8E48F;
  width: 50px;
  height: 50px;
  animation-delay: 8s;
}
.ice-cream-ball:nth-child(5) {
  left: 90%;
  background-color: #844E20;
  width: 160px;
  height: 160px;
  animation-delay: 2s;
}

// Content
.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

// Example content
h1 {
  text-align: center;
  color: #333;
}

// Sabores preferidos
.card-img-top-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.card-img-top {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.row-cols-lg-4 .col:nth-last-child(-n+3) {
  margin-left: auto;
  margin-right: auto;
}


// Formulario de contacto

.btn-send {
  background-color: $verde-chiapaneco;
  color: #FEFFFA;
  width: 100%;
}

// Contacto whatsapp

.fixed-whatsapp {
  position: fixed;
  bottom: 20px; /* Ajusta el espacio desde el borde inferior según tus necesidades */
  right: 5vw; /* Ajusta el espacio desde el borde derecho según tus necesidades */

  padding: 10px; /* Espacio interno para mejorar la apariencia */
  z-index: 9999; /* Asegura que el elemento esté por encima de otros elementos */
  text-align: center;
  color: #3d3c38;
}

.fixed-whatsapp img {
  width: 50px; /* Tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

.fixed-whatsapp p {
  margin-top: 8px; /* Espacio entre la imagen y el texto */
  font-size: 14px; /* Tamaño del texto */
  font-weight: bold; /* Peso del texto para hacerlo más visible */
}
